{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "ignorePatterns": [
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "max-len": [2, {
      "code": 200
    }],
    "max-lines": [2, { "max": 200 }],
    "react/jsx-props-no-spreading": [0],
    "react/jsx-max-props-per-line": [2, { "maximum": 1 }],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-closing-bracket-location": [2, "tag-aligned"]
  }
}
